/* font */

@font-face {
    font-family: Yekan;
    src: url(../fonts/YekanBakhEN04Regular.eot) format('eot'), url(../fonts/YekanBakhEN04Regular.woff) format('woff');
}


/* style general */

body {
    background: rgb(255, 255, 255);
    /* color: #fff; */
    box-sizing: border-box;
    font-family: 'Yekan', sans-serif;
    overflow-x: hidden;
}

a {
    /* color: #fff; */
    list-style: none;
    text-decoration: none;
}

.active {
    width: 4px !important;
    height: 4px !important;
    background-color: #fff;
    border-radius: 50px;
    margin: 10px;
}

.support svg {
    filter: drop-shadow(0px 4px 10px rgba(0, 174, 239, 0.35));
}

.play svg {
    filter: drop-shadow(0px 4px 10px rgba(0, 174, 239, 0.35));
}


/* style header */

.header {
    background: linear-gradient(90deg, rgba(97, 1, 9, 1) 0%, rgba(195, 5, 37, 1) 47%, rgba(97, 2, 21, 1) 100%);
    position: relative;
}

header ul li a {
    font-size: 16px;
}

header ul li {
    padding-right: 35px;
}

.header ul {
    margin-top: 15px;
}

.login {
    /*margin-right: 14px;*/
    border-radius: 15px;
    /*margin-top: 20px;*/
    height: max-content;
}

.login-mobile {
    /*margin-right: 14px;*/
    border-radius: 15px;
    /*margin-top: 20px;*/
}

.header>.logo {
    margin-top: 48px;
}

.support {
    border: 2px solid #fff;
    border-radius: 15px;
    margin-top: 24px;
}

.support span {
    margin: 0;
    color: #fff;
}

.login a {
    color: #00AEEF
}

.login:hover a {
    color: #fdfdfd;
}

.text-full {
    margin-top: 100px;
    margin-right: 10%;
}

.aboute .right .text-header {
    font-size: 24px;
}

.aboute .right .text-main {
    margin-top: 36px;
    font-size: 38px;
}

.aboute .right .text-footer {
    margin-top: 36px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8) !important;
}

.footer-lt {
    margin-top: 33px;
}

.footer-lt .right {
    border-radius: 16px;
}

.footer-lt .right a {
    color: #00AEEF;
    font-size: 16px;
    margin: 0 !important;
}

.footer-rt .text-header {
    font-size: 16px !important;
    margin-right: 14px;
}

.footer-rt .text-header p {
    font-size: 14px !important;
    margin-top: 8px;
}

.item-full {
    margin-top: 100px;
    margin-right: 8rem;
}

.item-full img {
    margin-left: 50px;
}

.play {
    height: 84px;
    width: 84px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 25%);
}

.play .bg-white {
    height: 72px;
    width: 72px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #00AEEF2E
}

.item-full .more {
    height: 74px;
    width: 311px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.25);
    border: 1.5px solid;
    top: 38rem;
}

.item-full .more span {
    font-size: 24px;
    margin: 0 !important;
    color: #fff !important;
}

.arrowbottom {
    position: relative;
    bottom: 39px
}


/* style brand */

.brand {
    padding: 15px;
}

.brand .brand-boxs {
    background-color: #fff;
    border: 1px solid #49546412;
    box-shadow: 0px 15px 30px -15px #4954640D;
    border-radius: 16px;
    height: 6rem;
    margin: 20px;
}

.brand .brand-boxs img {
    border-radius: 50%;
    padding: 15px;
}

.brand .brand-boxs .brand-text p {
    color: #0234 !important;
}

.brand .brand-boxs .brand-text h1 {
    color: rgb(79, 79, 79) !important;
}


/* style Services */

.services {
    margin: 100px 50px 0
}

.services h1 {
    font-size: 36px;
    color: #495464;
}

.services .item-more {
    font-size: 18px;
    color: #fff !important;
    background-color: #f22d33;
    box-shadow: 0 2px 12px rgba(242, 45, 51, 0.6);
    border-radius: 8px;
    padding: 10px 15px;
}

.services .content {
    margin-top: 56px
}

.services .box {
    height: 173px;
    border-radius: 26px;
    background: #FFFF;
    border: 1px solid #49546412;
    box-shadow: 0px 15px 30px -15px #4954640D;
    margin-bottom: 35px;
}

.services .box .box-header .box-icon {
    padding: 0 28px;
    padding-top: 18px !important;
}

.services .box .box-header .title-box h1 {
    padding-top: 22px;
    font-size: 22px;
    color: #495464;
}

.services .box .box-header .title-box p {
    font-size: 15px;
    color: #495464;
    margin-top: 10px;
    margin-left: 30px;
}

.icon-shadow1 {
    filter: drop-shadow(0px 4px 15px rgba(0, 184, 217, 0.2));
}

.icon-shadow2 {
    filter: drop-shadow(0px 4px 15px rgba(250, 173, 19, 0.2));
}

.icon-shadow3 {
    filter: drop-shadow(0px 4px 15px rgba(63, 89, 138, 0.2));
}

.icon-shadow4 {
    filter: drop-shadow(0px 4px 15px rgba(54, 179, 126, 0.2));
}

.icon-shadow5 {
    filter: drop-shadow(0px 4px 15px rgba(21, 101, 216, 0.2));
}

.icon-shadow6 {
    filter: drop-shadow(0px 4px 15px rgba(233, 84, 50, 0.2));
}


/* style Portfolio */

.portfolio h1 {
    font-size: 36px;
    color: #495464;
}

.portfolio .item-more {
    font-size: 18px;
    color: #fff !important;
    background-color: #f22d33;
    box-shadow: 0 2px 12px rgba(242, 45, 51, 0.6);
    border-radius: 8px;
    padding: 10px 15px;
}

.portfolio {
    margin: 100px 50px 0;
}

.portfolio .articles-content .box-articles {
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 0px 8px 40px 0px rgba(73, 84, 100, 0.08);
    padding: 0 25px;
    margin-bottom: 50px;
}

.portfolio .articles-content .box-articles .articles-cover img {
    border-radius: 20px;
    position: relative;
    bottom: 20px;
}

.portfolio .articles-content .box-articles .articles-titles h1 {
    font-size: 16px;
    color: #495464;
    margin: 20px 0;
}

.portfolio .articles-content .box-articles .articles-titles a {
    font-size: 18px;
    color: #495464;
    margin: 20px 0;
}

.portfolio .articles-content .box-articles .articles-footer {
    margin-bottom: 26px;
}

.portfolio .articles-content .box-articles .articles-footer span {
    margin: 0;
    padding-right: 7px;
    color: #495464;
    font-size: 15px;
    font-family: 'Yekan', sans-serif;
    margin-top: 5px;
}

.portfolio .articles-content .box-articles .articles-footer .time-articles span {
    font-size: 16px;
    color: #495464;
}

.portfolio .articles-content .box-articles .articles-footer .likes {
    filter: drop-shadow(0px 5px 10px rgba(235, 94, 94, 0.380392));
}

.portfolio .header-portfolio span {
    margin-right: 20px;
}

.portfolio .box {
    margin-top: 42px;
    padding-right: 50px;
}

.portfolio .content {
    margin-top: 42px
}

.more-portfolio {
    height: 74px;
    width: 311px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.25);
    border: 1.5px solid;
    top: 17rem;
}

.more-portfolio span {
    font-size: 20px;
    margin: 0 !important;
    color: #fff !important;
}


/* style Tips */

.tips {
    margin-top: 100px;
}

.tips .tips-box {
    border-radius: 22px;
    background: linear-gradient(252.73deg, #00AEEF -0.54%, #032566 159.03%);
    box-shadow: 0px 8px 25px 0px rgba(4, 173, 237, 0.2);
    margin: 0 100px;
}

.tips .tips-title {
    padding: 35px 40px 0;
}

.tips .tips-title>h1 {
    font-size: 24px;
}

.tips .tips-title>span {
    font-size: 24px;
    color: #fff !important;
    margin: 20px 0;
}

.tips .Consulting-boxs .Consulting-text>span {
    color: #0234;
    margin: 0;
}

.tips .Consulting-boxs .Consulting-text>h1 {
    color: rgb(79, 79, 79) !important;
}

.tips .Consulting-boxs img {
    border-radius: 2rem;
    padding: 15px;
}

.tips .Consulting-boxs>img {
    width: 74%;
}

.tips .Consulting-boxs {
    background-color: #fff;
    border: 1px solid #49546412;
    box-shadow: 0px 15px 30px -15px #4954640D;
    border-radius: 16px;
    margin: 20px;
}

.tips .tips-title>p {
    margin-top: 14px;
    font-size: 18px;
    color: #F5FCFF;
}

.tips .tips-more .right {
    height: 64px;
    width: 230px;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 50px;
    margin-right: 100px;
}

.tips .tips-more .right span {
    color: #00AEEF;
    font-size: 16px;
    padding-left: 17px;
    margin: 0 !important;
}


/* stylw brand-items */

.brand-items {
    margin-top: 140px;
    background: linear-gradient(180deg, rgba(173, 183, 201, 0.1) 0%, rgba(249, 253, 255, 0.1) 100%);
}

.brand-items article .box-brand-item {
    height: 417px;
    width: 928px;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 0px 40px 40px -40px rgba(73, 84, 100, 0.08);
}

.brand-items article .brand-title {
    font-size: 40px;
    color: #495464;
    padding-top: 93px;
    text-align: center;
}

.brand-items article .brand-title-p {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    color: rgba(73, 84, 100, 0.8);
    padding: 0 88px;
}

.brand1 {
    margin-top: 54px;
}

.brand1 img {
    padding-left: 97px;
}

.next div {
    height: 56px;
    width: 56px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #4954641A;
    box-shadow: 0px 8px 26px 0px rgba(73, 84, 100, 0.1);
}


/* style articles */

.articles .articles-header h1 {
    font-size: 36px;
    color: #495464;
    margin: 160px 80px 0 0;
}

.articles .articles-header p {
    font-size: 18px;
    color: #495464;
    margin: 16px 80px 0 0;
}

.articles .articles-content .box-articles {
    height: 373px;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 0px 8px 40px 0px rgba(73, 84, 100, 0.08);
    padding: 0 25px;
}

.articles .articles-content .box-articles .articles-cover img {
    border-radius: 20px;
    position: relative;
    bottom: 20px;
}

.articles .articles-content .box-articles .articles-titles p {
    font-size: 16px;
    color: #495464;
}

.articles .articles-content .box-articles .articles-titles h1 {
    font-size: 18px;
    color: #495464;
    margin: 20px 0;
}

.articles .articles-content .box-articles .articles-footer {
    margin-bottom: 26px;
}

.articles .articles-content .box-articles .articles-footer span {
    margin: 0;
    padding-right: 7px;
    color: #495464;
    font-size: 15px;
    font-family: 'Yekan', sans-serif;
}

.articles .articles-content .box-articles .articles-footer .time-articles span {
    font-size: 16px;
    color: #495464;
}

.articles .articles-content .box-articles .articles-footer .likes {
    filter: drop-shadow(0px 5px 10px rgba(235, 94, 94, 0.380392));
}

.articles .articles-footers {
    margin-top: 60px;
}

.articles .articles-footers a {
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 50px;
}


/* style footer-site */

.footer-site .footer-site-content {
    width: 100%;
    /*border-radius: 20px 20px 0 0;*/
    background: #39424F;
}

.footer-site .footer-site-content .footer-site-aboute p {
    margin: 16px 0 27px 0;
    font-size: 16px;
    color: #959EAD;
}

.footer-site .footer-site-content .footer-site-aboute .footer-site-social .item-social {
    padding-left: 24px;
}

.footer-site .footer-site-content .footer-site-reserve {
    margin-right: 65px;
}

.footer-site .footer-site-content .footer-site-reserve h1 {
    font-size: 20px;
    color: #fff;
}

.footer-site .footer-site-content .footer-site-reserve ul {
    margin-top: 25px;
}

.footer-site .footer-site-content .footer-site-reserve ul li {
    margin-bottom: 18px;
}

.footer-site .footer-site-content .footer-site-reserve ul li a {
    font-size: 18px;
    color: #959EAD;
    font-weight: 700;
    margin-bottom: 18px;
}

.footer-site .footer-site-content .footer-logo {
    margin-top: 90px;
}


/* style page login */

.login-page {
    margin: 0 8rem;
    border-radius: 15px;
}

.login-page>.left h1 {
    font-size: 20px;
}

.login-page>.left a {
    border: 2px solid #fff !important;
    border-radius: 10px;
}

.login-page>.left img {
    width: 50%;
}

.login-page>.left {
    background-image: linear-gradient(to top, #09203f 0%, #216396 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login-page .right h1 {
    font-size: 20px;
}

.login-page .right input {
    outline: none;
}

.login-page .home {
    background-color: #fff;
    border: 1px solid #152420;
}

.login-page .home svg {
    width: 25px;
}


/* style payment page */

.payment-box {
    background-color: #fff;
    width: 100%;
    height: 25rem;
    margin: 80px 40px;
}

.main-payment {
    margin: 50px 0;
}

.footer-payment a {
    box-shadow: 0px 4px 10px 0px rgba(0, 174, 239, 0.35);
    background-color: #00AEEF;
    border-radius: 16px;
}


/* style page shop-home */

.menu-item a {
    color: #fff;
}

.search-box {
    border-radius: 16px;
    background-color: #fff;
    border: 0;
}

.container {
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1366px !important;
}


/* style page singel */

.loadmore p {
    padding: 0.5rem 0;
}

.loadmore p>img {
    border-radius: 8px;
}


/* style modal */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close,
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* responsive */

@media (max-width: 768px) {
    .login-page {
        margin-top: 32rem;
    }
    .login-page>.left {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0;
    }
}


/* Added by Morteza */

.comment-area h2,
.comment-area h3,
.comment-area h4,
.comment-area p,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area p,
.discuss-content-area h2,
.discuss-content-area h3,
.discuss-content-area h4,
.discuss-content-area p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu-btn-container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s ease-out;
    border-radius: 5px;
}

.menu-btn-change .bar1,
.menu-btn-change .bar2,
.menu-btn-change .bar3 {
    background-color: #333;
    z-index: 100;
}

.menu-btn-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-btn-change .bar2 {
    opacity: 0;
}

.menu-btn-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu {
    background-color: #FFFFFF;
    color: #333;
    position: fixed;
    left: 0;
    height: 100%;
    width: 260px;
}

.animate-left {
    animation: animateleft 0.4s
}

.animate-right {
    animation: animateright 0.4s
}

@keyframes animateleft {
    from {
        left: 0;
        opacity: 1
    }
    to {
        left: -260px;
        opacity: 0
    }
}

@keyframes animateright {
    from {
        left: -260px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@media (min-width: 1280px) {
    .footer-site .footer-site-content {
        padding: 96px 190px 88px 190px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .footer-site .footer-site-content {
        padding: 96px 60px 88px 60px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer-site .footer-site-content {
        padding: 96px 60px 88px 60px;
    }
}

@media (max-width: 767px) {
    .footer-site .footer-site-content {
        padding: 64px 30px 64px 30px;
    }
    .services .header-services,
    .portfolio .header-portfolio {
        flex-direction: column;
    }
}

@media (max-width: 1023px) {
    .footer-site-reserve {
        margin-right: unset !important;
        text-align: center;
    }
    .footer-site .footer-site-content .footer-site-aboute .footer-site-social {
        padding-right: 24px;
        justify-content: center;
    }
    .footer-site .footer-site-content .footer-site-aboute .footer-site-logo svg {
        margin: 0 auto;
    }
    .footer-site .footer-site-content .footer-site-aboute p {
        text-align: center;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .item-full img {
        display: none;
    }
    .text-full {
        margin-left: 10%;
    }
}